.alm
.vs
npm-debug.log*
/lib
/lib.es2015
/types
/src/**/*.js
/src/**/*.map
/test/**/*.js
/test/**/*.map

dist/
www/
.firebase/hosting.d3d3.cache

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
